#step-odd {
    background-image: -gtk-gradient (linear,
                                     0 0, 1 0,
                                     color-stop(0.0, #505050),
                                     color-stop(0.5, #6f6f6f),
                                     color-stop(1.0, #505050));
    padding-left:        4px;
    padding-right:       4px;
    padding-top:         2px;
    padding-bottom:      2px;
    min-width:           25px;
    transition-property: none;
}

#step-odd:checked {
    background-image: -gtk-gradient (linear,
                                     0 0, 1 0,
                                     color-stop(0.0, #801010),
                                     color-stop(0.5, #9f2020),
                                     color-stop(1.0, #801010));
    padding-left:        4px;
    padding-right:       4px;
    padding-top:         2px;
    padding-bottom:      2px;
    min-width:           25px;
    transition-property: none;
}

#step-even {
    background-image: -gtk-gradient (linear,
                                     0 0, 1 0,
                                     color-stop(0.0, #606060),
                                     color-stop(0.5, #7f7f7f),
                                     color-stop(1.0, #606060));
    padding-left:        4px;
    padding-right:       4px;
    padding-top:         2px;
    padding-bottom:      2px;
    min-width:           25px;
    transition-property: none;
}

#step-even:checked {
    background-image: -gtk-gradient (linear,
                                     0 0, 1 0,
                                     color-stop(0.0, #801010),
                                     color-stop(0.5, #9f8020),
                                     color-stop(1.0, #801010));
    padding-left:        4px;
    padding-right:       4px;
    padding-top:         2px;
    padding-bottom:      2px;
    min-width:           25px;
    transition-property: none;
}

#step-odd label {
    color:       #f2f0f0;
    font-weight: bold;
}

#step-even label {
    color:       #f2f0f0;
    font-weight: bold;
}

#track-label {
    min-width: 80px;
}
